*,
*::before,
*::after {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

section {
  h3 {
    margin-bottom: 0.5rem;
  }
}

select,
input {
  width: 100%;
  height: 1.4rem;
  font-family: "Inter";
  font-size: 1rem;
}

button {
  font-size: 1rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}

body {
  background-color: snow;
  font-family: "Inter", sans-serif;
  margin: 0px 30px;
}

.header {
  border-bottom: 3px solid gray;
  margin: 0 -30px;
  padding: 0 30px;
}
/* Page */

.page {
  margin-bottom: 2rem;
}

.page__main {
  display: flex;
  flex-direction: column;
}

.page__container {
  display: flex;
  gap: 2rem;
}

/* Canvas container */

.canvas-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.canvas-container__canvas {
  max-width: max-content;
  border: 1px solid black;
}

/* Info Container */

.info-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Metrics */

.metrics__cost {
  font-weight: bold;
}

/* Prediction */

.prediction-section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.prediction-section__point {
  font-weight: bold;
}

.prediction {
  display: flex;
  flex-direction: column;
  width: 150px;
  min-height: 60px;
}

.prediction__mushroom {
  display: flex;
  justify-content: space-between;
}

/* Learning Controls */

.learning-controls {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.step,
.reset,
.learn {
  width: 60px;
}

/* Network Controls */

.network-controls__network {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 0.3rem;
}

.layer {
  border: 2px solid palevioletred;
  width: 275px;
  border-radius: 4px;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.3rem;
}

.node {
  border: 2px solid slategray;
  border-radius: 4px;
}

.control {
  display: flex;
  height: 1.6rem;
  align-items: center;
  gap: 0.7rem;
}

.control__input {
  flex: 1;
}

.control__value {
  width: 85px;
}

.weight {
  color: black;
}

.bias {
  color: dimgray;
}

.output {
  border-width: 3px;
}

/* checkbox */

label:not(:has(input[type="checkbox"])) {
  display: flex;
  gap: 0.4rem;
  white-space: pre;
  align-items: baseline;
}

label:has(input[type="checkbox"]) {
  display: inline-flex;
  align-items: center;
}

input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
  margin-left: 0;
}

/* hidden layer */

.learning-controls__hidden-layer-size {
  width: 0;
  min-width: 2px;
  padding: 0 0.5ch;
  box-sizing: content-box;
}
