*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: snow;
  font-family: "Inter", sans-serif;
  margin: 0px 30px;
}

.header {
  border-bottom: 3px solid gray;
  margin: 0 -30px;
  padding: 0 30px;
}
/* Page */

.page {
  margin-bottom: 2rem;
}

.page__main {
  display: flex;
  flex-direction: column;
}

.page__container {
  display: flex;
  gap: 1rem;
}

/* Canvas container */

.canvas-container__canvas {
  border: 1px solid black;
}

/* Info Container */

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Prediction */

.prediction {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.prediction__mushroom {
  display: flex;
  justify-content: space-between;
}

.point {
  font-weight: bold;
}
