label:has([disabled]),
.disabled {
  opacity: 0.6;
}

/* Page Container */

.page__container {
  gap: 4rem;
}

/* Grid Container */

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 300px;
}

.grid-container__grid {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  background-color: black;
}

.grid-container__buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;

  button {
    font-size: 1.2rem;
  }
}

/* Info Container */

.info-container {
  flex-direction: row;
}

/* Learning Controls */

.learning-controls__controls {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.learning-controls--not-loaded {
  display: none;
}

/* Prediction */

.prediction__header {
  margin: 0;
  margin-bottom: 1rem;
}

.prediction {
  font-size: 1.3rem;
}

.first {
  font-weight: bold;
}

.label {
  font-weight: bold;

  &.first {
    color: green;
  }

  &:not(.first) {
    color: red;
  }
}

.prediction-val {
  width: 70px;
}

.digit-class {
  display: flex;
  justify-content: space-between;
}

/* Mobile  */

@media screen and (max-width: 900px) {
  .page__container {
    max-width: 400px;
    gap: 1rem;
  }

  .grid-container__grid {
    width: 100%;
    touch-action: none;
  }

  .test-button-group {
    button {
      padding: 10px;
      appearance: none;
    }
  }
}
